In [1]:
pip install pymysql

Collecting pymysqlNote: you may need to restart the kernel to use updated packages.
  Using cached PyMySQL-1.1.0-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [2]:
import pymysql as sql

In [32]:
mydb = mysql.connect(
  host="localhost",
    database='mtit',
  user="root",
  password="root"
)

print(mydb)

<pymysql.connections.Connection object at 0x000000552CC69040>

In [33]:
cur=mydb.cursor()
cur.execute("SHOW TABLES")
print(cur)
for i in cur:
    print(i)

<pymysql.cursors.Cursor object at 0x000000552CC695B0>
('emp',)
('mobile',)

In [20]:
insert = "INSERT INTO emp (eid, name, esla) VALUES (%s, %s, %s)"
eid = int(input("Enter employee id: "))
ename = input("Enter employee name: ")
esal = float(input("Enter employee salary: "))

val = (eid, ename, esal)
cur.execute(insert, val)
mydb.commit()

Enter employee id: 6
Enter employee name: ljjhj
Enter employee salary: 7866

In [21]:
insert = "INSERT INTO emp (eid, name, esla) VALUES (%s, %s, %s)"
eid = int(input("Enter employee id: "))
ename = input("Enter employee name: ")
esal = float(input("Enter employee salary: "))

val = (eid, ename, esal)
cur.execute(insert, val)
mydb.commit()

Enter employee id: 7
Enter employee name: purush
Enter employee salary: 100

In [23]:
cur.execute("select * from emp")
result=cur.fetchall()
for i in result:
    print(i)

(1, 'chanikya', 20000.0)
(6, 'ljjhj', 7866.0)
(7, 'purush', 100.0)

In [25]:
cur.execute("create table mobile(name varchar(200),model varchar(200),cost int)")

0

In [26]:
insert = "INSERT INTO mobile (name, model, cost) VALUES (%s, %s, %s)"
eid = input("Enter mobile name: ")
model = input("Enter mobile model: ")
cost = int(input("Enter mobile cost: "))

val = (eid, model, cost)
cur.execute(insert, val)
mydb.commit()

Enter mobile name: red me
Enter mobile model: note 9
Enter mobile cost: 17500

In [27]:
insert = "INSERT INTO mobile (name, model, cost) VALUES (%s, %s, %s)"
eid = input("Enter mobile name: ")
model = input("Enter mobile model: ")
cost = int(input("Enter mobile cost: "))

val = (eid, model, cost)
cur.execute(insert, val)
mydb.commit()

Enter mobile name: vivo
Enter mobile model: y30
Enter mobile cost: 15000

In [28]:
insert = "INSERT INTO mobile (name, model, cost) VALUES (%s, %s, %s)"
eid = input("Enter mobile name: ")
model = input("Enter mobile model: ")
cost = int(input("Enter mobile cost: "))

val = (eid, model, cost)
cur.execute(insert, val)
mydb.commit()

Enter mobile name: realme
Enter mobile model: 7
Enter mobile cost: 19000

In [29]:
cur.execute("select * from mobile")
result=cur.fetchall()
for i in result:
    print(i)

('red me', 'note 9', 17500)
('vivo', 'y30', 15000)
('realme', '7', 19000)

In [ ]:
 cur.close()
    mydb.close()

In [34]:
for record in L:
    htno,name,sub1,sub2,sub3,sub4,sub5,total,per,grade,result=record
    sql=f"insert into sms values({htno},'{name}',{sub1},{sub2},{sub3},{sub4},{sub5},{total},{per},'{grade}','{result}')"
    cur.execute(sql)
    mydb.commit()
    mydb.close()

NameError: name 'L' is not defined

In [52]:
cur.close()  # Close the cursor
mydb.close()  # Close the database connection
mydb = mysql.connect(
  host="localhost",
    database='mtit',
  user="root",
  password="root"
)

print(mydb)
cur=mydb.cursor()

<pymysql.connections.Connection object at 0x000000552CCCED30>

In [53]:

def calgrade(sub1,sub2,sub3,sub4,sub5,per):
	if sub1>=40 and sub2>=40 and sub3>=40 and sub4>=40 and sub5>=40:
		if per>=75:
			return "A"
		elif per>=60:
			return "B"
		elif per>=50:
			return "C"
		else:
			return "D"
	else:
		return "supple"
def calresult(sub1,sub2,sub3,sub4,sub5,per):
	if sub1>=40 and sub2>=40 and sub3>=40 and sub4>=40 and sub5>=40:
		return "pass"
	else:
		return "fail"
L=[]
while True:
	htno=int(input("Enter htno:"))
	name=input("Enter name:")
	sub1=int(input("Enter sub1 marks:"))
	sub2=int(input("Enter sub2 marks:"));sub3=int(input("Enter sub3 marks:"))
	sub4=int(input("Enter sub4 marks:"))
	sub5=int(input("Enter sub5 marks:"))
	total=sub1+sub2+sub3+sub4+sub5
	per=total/500*100
	grade=calgrade(sub1,sub2,sub3,sub4,sub5,per)
	result=calresult(sub1,sub2,sub3,sub4,sub5,per)
	record=htno,name,sub1,sub2,sub3,sub4,sub5,total,per,grade,result #tuple packing
	L.append(record)
	res=input("Do you want to continue(Yes/No):")
	if res=="No":
		break
print("****************************************************************************")
print(f"htno\tname\tsub1\tsub2\tsub3\tsub4\tsub5\ttotal\tper\tgrade\tresult")
print(f"--------------------------------------------------------------------")
for record in L:
	htno,name,sub1,sub2,sub3,sub4,sub5,total,per,grade,result=record
	#unpacking
	print(f"{htno}\t{name}\t{sub1}\t{sub2}\t{sub3}\t{sub4}\t{sub5}\t{total}\t{per}\t{grade}\t{result}")
	print("------------------------------------------------------------------------------------------")

for record in L:
    htno,name,sub1,sub2,sub3,sub4,sub5,total,per,grade,result=record
    sql=f"insert into sms values({htno},'{name}',{sub1},{sub2},{sub3},{sub4},{sub5},{total},{per},'{grade}','{result}')"
    cur.execute(sql)
    mydb.commit()
 
    mydb.close()

Enter htno:22
Enter name:vijay
Enter sub1 marks:99
Enter sub2 marks:99
Enter sub3 marks:99
Enter sub4 marks:99
Enter sub5 marks:99
Do you want to continue(Yes/No):No
****************************************************************************
htno	name	sub1	sub2	sub3	sub4	sub5	total	per	grade	result
--------------------------------------------------------------------
22	vijay	99	99	99	99	99	495	99.0	A	pass
------------------------------------------------------------------------------------------