In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22"
)
mc=mydb.cursor()

In [8]:
mc=mydb.cursor()
mc.execute("create database sports")

DatabaseError: 1007 (HY000): Can't create database 'sports'; database exists

In [9]:
mc=mydb.cursor()
mc.execute("SHOW DATABASES")
for x in mc:
  print(x)

('cms',)
('cpmsphp',)
('cybersecurity',)
('information_schema',)
('mini',)
('mysql',)
('osghsdb',)
('performance_schema',)
('phpmyadmin',)
('python',)
('sports',)
('support-system-for-women-and-children-master',)
('test',)

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
mc=mydb.cursor()
mc.execute("create table player(name varchar(20),playerno int,age int,score int)")

In [11]:
mc=mydb.cursor()
mc.execute("SHOW TABLES")
for x in mc:
  print(x)

('player',)

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
sql="insert into player(name,playerno,age,score) values(%s,%s,%s,%s)"
val1=('msd',7,42,100)
mc=mydb.cursor()
mc.execute(sql,val1)
mydb.commit()

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
sql="insert into player(name,playerno,age,score) values(%s,%s,%s,%s)"
val1=[('msd',7,42,100),('jaddu',8,32,90),('virat',18,22,80),('rohit',48,54,40),('kl',100,12,20)]
mc=mydb.cursor()
mc.executemany(sql,val1)
mydb.commit()

In [15]:
mc.execute("select * from player")
re=mc.fetchall()
for i in re:
    print(i)

('msd', 7, 42, 100)
('msd', 7, 42, 100)
('jaddu', 8, 32, 90)
('virat', 18, 22, 80)
('rohit', 48, 54, 40)
('kl', 100, 12, 20)

In [17]:
mc.execute("select * from player")
mc.fetchall()

[('msd', 7, 42, 100),
 ('msd', 7, 42, 100),
 ('jaddu', 8, 32, 90),
 ('virat', 18, 22, 80),
 ('rohit', 48, 54, 40),
 ('kl', 100, 12, 20)]

In [28]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
mc=mydb.cursor()
mc.execute("select * from player")
mc.fetchone()

('msd', 7, 42, 100)

In [30]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
mc=mydb.cursor()
mc.execute("select * from player")
mc.fetchall()

[('msd', 7, 42, 100),
 ('msd', 7, 42, 100),
 ('jaddu', 8, 32, 90),
 ('virat', 18, 22, 80),
 ('rohit', 48, 54, 40),
 ('kl', 100, 12, 20)]

In [33]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
mc=mydb.cursor()
p="update player set age=202 where name='kl'"
mc.execute(p)

In [34]:
mc.execute("select * from player")
re=mc.fetchall()
for i in re:
    print(i)

('msd', 7, 42, 100)
('msd', 7, 42, 100)
('jaddu', 8, 32, 90)
('virat', 18, 22, 80)
('rohit', 48, 54, 40)
('kl', 100, 202, 20)

In [36]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
mc=mydb.cursor()
p="update player set age=202 where name='kl'"
mc.execute(p)
mydb.commit()

In [37]:
mc.execute("select * from player")
re=mc.fetchall()
for i in re:
    print(i)

('msd', 7, 42, 100)
('msd', 7, 42, 100)
('jaddu', 8, 32, 90)
('virat', 18, 22, 80)
('rohit', 48, 54, 40)
('kl', 100, 202, 20)

In [38]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
mc=mydb.cursor()
p="update player set name='chanikya' where age=32"
mc.execute(p)
mydb.commit()

In [39]:
mc.execute("select * from player")
re=mc.fetchall()
for i in re:
    print(i)

('msd', 7, 42, 100)
('msd', 7, 42, 100)
('chanikya', 8, 32, 90)
('virat', 18, 22, 80)
('rohit', 48, 54, 40)
('kl', 100, 202, 20)

In [42]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
mc=mydb.cursor()
p="select * from player limit 3"
mc.execute(p)
for i in mc:
    print(i)

('msd', 7, 42, 100)
('msd', 7, 42, 100)
('chanikya', 8, 32, 90)

In [44]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
mc=mydb.cursor()
p="select * from player limit 3 offset 2"
mc.execute(p)
for i in mc:
    print(i)

('chanikya', 8, 32, 90)
('virat', 18, 22, 80)
('rohit', 48, 54, 40)

In [45]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
    database="sports"
)
mc=mydb.cursor()
p="delete from player where age=42"
mc.execute(p)
mydb.commit()

In [ ]:
mc.execute("select * from player")
re=mc.fetchall()
for i in re:
    print(i)

In [ ]:
mc=mydb.cursor()
mc.execute("SHOW TABLES")
for x in mc:
  print(x)