In [4]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\lib\site-packages (8.0.33)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\dell\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\lib\site-packages (8.0.33)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\dell\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000004F6F668910>

In [51]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
  database="python"
)
mc=mydb.cursor()
mc.execute("SHOW DATABASES")
for x in mc:
  print(x)

('cms',)
('cpmsphp',)
('cybersecurity',)
('information_schema',)
('mini',)
('mysql',)
('osghsdb',)
('performance_schema',)
('phpmyadmin',)
('python',)
('support-system-for-women-and-children-master',)
('test',)

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pythonuser",
  password="chanikyamc22",
  database="python"
)
mc=mydb.cursor()
mc.execute("SHOW TABLES")
print(mc)
for x in mc:
  print(x)

MySQLCursor: SHOW TABLES
('customer',)
('customer1',)

In [14]:
mc.execute("create table customer1(name varchar(200),adress varchar(200))")

In [17]:
mc.execute("alter table customer1 add column id int auto_increment primary key")

In [18]:
insert="insert into customer1(name,adress) values(%s,%s)"
val=("chanikya","swapna_sister")
mc.execute(insert,val)
mydb.commit()
print(mc.rowcount,"record inserted")

1 record inserted

In [23]:
insert="insert into customer1(name,adress) values(%s,%s)"
val=("kumar","nethra")
mc.execute(insert,val)
mydb.commit()
print(mc.rowcount,"record inserted")

1 record inserted

In [52]:
insert="insert into customer1(name,adress) values(%s,%s)"
val=('chani','chani')
mc.execute(insert,val)
mydb.commit()
print(mc.rowcount,"record inserted")

1 record inserted

In [26]:
data1="insert into customer1(name,adress) values(%s,%s)"
val=[
    ("purush","chani"),
    ("chani","karunakar"),
    ("chani","likki"),
    ("chani","tej")]
mc.executemany(data1,val)
mydb.commit()
print(mc.rowcount,"record inserted")

4 record inserted

In [56]:
mc.execute("select * from customer1")
result=mc.fetchall()
for i in result:
    print(i)

('chanikya', 'swapna_sister', 1)
('kumar', 'nethra', 2)
('purush', 'chani', 3)
('chani', 'karunakar', 4)
('chani', 'likki', 5)
('chani', 'tej', 6)
('chani', 'chani', 7)

In [34]:
mc.execute("select name,adress from customer1")
re=mc.fetchall()
for i in result:
    print(i)

('chanikya', 'swapna_sister', 1)
('kumar', 'nethra', 2)
('purush', 'chani', 3)
('chani', 'karunakar', 4)
('chani', 'likki', 5)
('chani', 'tej', 6)

In [35]:
mc.execute("select count(*) from customer1")
result=mc.fetchall()
for i in result:
    print(i)

(6,)

In [55]:
mc=mydb.cursor()
sql=mc.execute("select * from customer1 where adress='chani'")
mc.execute(sql)
result=mc.fetchall()
for i in result:
    print(i)

('purush', 'chani', 3)
('chani', 'chani', 7)

In [57]:
mc=mydb.cursor()
sql=mc.execute("select * from customer1 where adress like '%ni%'")
mc.execute(sql)
result=mc.fetchall()
for i in result:
    print(i)

('purush', 'chani', 3)
('chani', 'chani', 7)

In [58]:
mc=mydb.cursor()
sql=mc.execute("select * from customer1 where adress like '%te%'")
mc.execute(sql)
result=mc.fetchall()
for i in result:
    print(i)

('chanikya', 'swapna_sister', 1)
('chani', 'tej', 6)

In [59]:
mc=mydb.cursor()
sql=mc.execute("select * from customer1 order by name")
mc.execute(sql)
result=mc.fetchall()
for i in result:
    print(i)

('chani', 'karunakar', 4)
('chani', 'likki', 5)
('chani', 'tej', 6)
('chani', 'chani', 7)
('chanikya', 'swapna_sister', 1)
('kumar', 'nethra', 2)
('purush', 'chani', 3)

In [60]:
mc=mydb.cursor()
sql=mc.execute("select * from customer1 order by adress")
mc.execute(sql)
result=mc.fetchall()
for i in result:
    print(i)

('purush', 'chani', 3)
('chani', 'chani', 7)
('chani', 'karunakar', 4)
('chani', 'likki', 5)
('kumar', 'nethra', 2)
('chanikya', 'swapna_sister', 1)
('chani', 'tej', 6)

In [62]:
mc=mydb.cursor()
sql=mc.execute("select * from customer1 order by name desc")
mc.execute(sql)
result=mc.fetchall()
for i in result:
    print(i)

('purush', 'chani', 3)
('kumar', 'nethra', 2)
('chanikya', 'swapna_sister', 1)
('chani', 'karunakar', 4)
('chani', 'likki', 5)
('chani', 'tej', 6)
('chani', 'chani', 7)

In [61]:
mc=mydb.cursor()
sql=mc.execute("select * from customer1 order by adress desc")
mc.execute(sql)
result=mc.fetchall()
for i in result:
    print(i)

('chani', 'tej', 6)
('chanikya', 'swapna_sister', 1)
('kumar', 'nethra', 2)
('chani', 'likki', 5)
('chani', 'karunakar', 4)
('purush', 'chani', 3)
('chani', 'chani', 7)